{% extends "movies/layout.html" %}
{% load static %}
{% block body %}
<div id="indexTitle">
  <h1 class="display-1">Pick your favorite movies!</h1>
</div>
<div id="favMovies">
    <h3 class="text-muted" id="movieContainerTitle">Your favorite movies</h3>

    <div class="container-fluid">
      <div class="row">
      {% for favorite in favorites %}
      <div class="col">
        <div id="movieCard" class="card">
          <img src="{{ favorite.imgUrl }}" id="favMovieImg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title">{{ favorite.title }}</h6>
            <a href="{% url 'removeFavorite' favorite.title %}" class="btn btn-primary">Remove</a>
          </div>
        </div>
        </div>
        {% endfor %}
      {% for i in range %}
          <div class="col">
            <div id="movieCard" class="card nullCard">
              <img id="favMovieImg" src="https://image.freepik.com/free-vector/click-movie-logo-vector_18099-258.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Add another of your favorite movies!</h5>
              </div>
            </div>
            </div>
      {% endfor %}
      </div>
</div>
</div>
{% if not request.user.recommended.all %}
<div id="recommendButton">
  <form id="recommendForm" method="GET" action="{% url 'recommend' %}">
    <button type="submit" class="btn btn-outline-primary btn-block">I need recommendations!</button>
  </form>
</div>

{% else %}
<div id="recommendations">
    <h3 class="text-muted" id="movieContainerTitle">Your recommendations</h3>
    <div class="container-fluid">
      <div class="row">
      {% for recommend in recommended %}
      <div class="col">
        <div id="movieCard" class="card">
          <img src="{{ recommend.imgUrl }}" id="favMovieImg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title">{{ recommend.title }}</h6>
          </div>
        </div>
        </div>
        {% endfor %}
    </div>
    </div>
  {% endif %}
{% endblock %}

{% block script %}
<script src="{% static 'movies/index.js' %}"></script>
{% endblock %}