{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Movies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'movies/styles.css' %}" rel="stylesheet">
    {% block script %}
    {% endblock %}
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">Movies</a>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong>{{ user.username }}</strong></a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'community' %}">Community</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
                <form method="GET" id="movieSearch" action="{% url 'movieSearch' %}" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 search" name="q" value="{{ request.GET.get.q }}" placeholder="Search Movie" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
            </div>
        </nav>
    </header>
    <div class="body">
        {% block body %}
        {% endblock %}
    </div>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
          <span class="text-muted">Not what you're looking for? <a href="#">Contact us</a></span>
        </div>
      </footer>
</body>
</html>